<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.uaa.soundmemory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/iclauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iclauncher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundMemory">
        <activity android:name=".MenuCartasFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".Ajustes" />
        <activity android:name=".jugar" />
        <activity android:name=".MenuAjustesFragment" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SoundMemory.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>